@page "/"

<h1>Hello, Leica friends!</h1>
This app is work in progess and currently in Beta. Add some info about our community here blablabla.
<br /><br />
<b>Todo:</b>
<ul>
    <li>better site layout</li>
</ul>
<b>Planned features:</b>
<ul>
    <li>User Map - users can add a pin of their location to a world map</li>
    <li>gear overview??</li>
    <li>let me know your ideas!</li>
</ul>