@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
<h1>Hello, Leica friends! <img src="Images/leicalove.png" style="height: 50px;"></h1>
This app is work in progess and currently in Beta.
<br /><br />
<b>Todo:</b>
<ul>
    <li>Better site layout</li>
</ul>
<b>Planned features:</b>
<ul>
    <li>User Map - users can add a pin of their location to a world map</li>
    <li>Gallery - reflect #gallery and #your-best-photos in a nice web gallery. With a personal gallery for each user if he wants.</li>
    <li>Gear overview??</li>
    <li>Let us know your ideas!</li>
</ul>

<h3>Debug things</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>

<p>@_authMessage</p>

@if (_claims.Count() > 0)
{
    <ul>
        @foreach (var claim in _claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

@code {
    private string _authMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
    }
}